@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap");

:root {
	/* Fonts */
	--primary-font: "Poppins", sans-serif;
	--secondary-font: "Open Sans", sans-serif;

	/* Colors */
	--pink: hsl(322, 100%, 66%);
	--light-pink: hsl(321, 100%, 78%);
	--light-red: hsl(0, 100%, 63%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--very-pale-blue: hsl(207, 100%, 98%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	color: var(--very-dark-cyan);
	font-size: 18px;
}

body {
	display: block;
}

header {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin: 60px 70px;
	cursor: pointer;
}

.trial-button {
	margin: 60px 70px;
	color: var(--pink);
	background: white;
	border-radius: 25px;
	border: solid 2px var(--pink);
	width: 150px;
	cursor: pointer;
}

.first-section,
.sixth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 130px auto 120px;
}

.first-section h1 {
	font-size: 2.8rem;
}

.sixth-section h2 {
	font-size: 2rem;
}

.first-section p {
	width: 550px;
	text-align: center;
	margin: 25px auto 50px;
	font-family: var(--secondary-font);
	line-height: 1.6;
}

.first-section button,
.sixth-section button {
	background: var(--pink);
	color: white;
	border: none;
	width: 340px;
	height: 52px;
	border-radius: 25px;
	font-weight: 600;
	font-family: var(--secondary-font);
	box-shadow: -7px 9px 10px -3px rgba(189, 174, 174, 0.75);
	cursor: pointer;
}

.screen-mockups {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 100px;
}

.second-section {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 100px;
}

.nums {
	font-size: 4.5rem;
	font-weight: 600;
}

.text-pale {
	color: grey;
	font-family: var(--secondary-font);
	text-align: center;
}

.third-section {
	display: flex;
	background: var(--very-pale-blue);
	margin-top: -10px;
	justify-content: space-evenly;
	align-items: center;
}

.third-section h2,
.fourth-section h2,
.fifth-section h2 {
	margin-bottom: 18px;
}

.third-section img,
.fourth-section img,
.fifth-section img {
	height: 350px;
	width: 430px;
	margin-bottom: 30px;
}

.text p {
	height: 150px;
	width: 590px;
	font-family: var(--secondary-font);
	line-height: 1.6;
}

.title-section {
	font-size: 30px;
}

.image-1 {
	background-color: var(--very-pale-blue);
}

.fourth-section {
	display: flex;
	background: white;
	margin-top: 5px;
	margin-bottom: 10px;
	justify-content: space-evenly;
	align-items: center;
}

.fifth-section {
	display: flex;
	background: var(--very-pale-blue);
	margin-top: -10px;
	justify-content: space-evenly;
	align-items: center;
}

.button-sixth-section {
	margin-top: 40px;
}

.sixth-section {
	margin-top: 50px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 490px;
	background-color: var(--very-dark-cyan);
	margin-top: -10px;
}

.text-white {
	color: white;
	font-family: var(--secondary-font);
}

.contacts {
	width: 500px;
	margin: auto 0px;
}

.contacts-p-1 {
	margin: 20px auto 20px 0px;
	width: 400px;
	line-height: 1.6;
}

.subscribe-button {
	background: var(--pink);
	border: none;
	border-radius: 5px;
	padding: 7px 26px;
	margin-left: 20px;
	cursor: pointer;
}

.form-input {
	height: 39px;
	width: 300px;
	border: none;
	border-radius: 5px;
}

.newsletter p {
	width: 420px;
	margin: 22px auto 50px 0px;
}

.newsletter h2 {
	font-size: 26px;
	margin-bottom: 40px;
}

.newsletter {
	margin-top: -90px;
}

.phone,
.mail {
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.phone-mail-icons {
	margin-right: 18px;
	width: 26px;
	height: 20px;
}

.social {
	margin-top: 50px;
}

.social-icon {
	margin-right: 18px;
	font-size: 40px;
	cursor: pointer;
}
